<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SO2RInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SO2RInterface.Properties.Settings>
            <setting name="Minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyer" serializeAs="String">
                <value />
            </setting>
            <setting name="Otrsp" serializeAs="String">
                <value />
            </setting>
            <setting name="NoStereo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Latch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TxRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RxRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Manual" serializeAs="String">
                <value>False</value>
            </setting>
        </SO2RInterface.Properties.Settings>
    </userSettings>
</configuration>
